---
import '../styles/aplayer.css'
import 'aplayer/dist/APlayer.min.css';
---

<div
    class="aplayer-global-container"
></div>
<script >
import { getRelativePath } from "../utils";
import APlayer from "aplayer";

let ap: any | null = null;
async function mountAplayer(container: HTMLElement) {
    let child = document.createElement('div');
    container.innerHTML = '';
    if (!ap) {
        container.appendChild(child);
        const audio = await fetch(getRelativePath('/api/music-list.json')).then(r => r.json());
        ap = new APlayer({
            container: child,
            autoplay: false,
            fixed: true,
            lrcType: 3,
            audio: audio,
            theme: "var(--color-accent)"
        });
        ap.lrc.hide();
        let lrc_button = (ap.container as HTMLElement).querySelector<HTMLButtonElement>('button.aplayer-icon.aplayer-icon-lrc');
        lrc_button?.classList.add("aplayer-icon-lrc-inactivity");
    } else {
        container.appendChild(ap.container);
    }
    return ap;
}

document.addEventListener('astro:page-load', async () => {
    let playerContainer = document.querySelector<HTMLDivElement>('.aplayer-global-container');
    if (playerContainer) {
        await mountAplayer(playerContainer);
    }
}, false);

</script>

