---
import 'aplayer/dist/APlayer.min.css';
---

<div
    class="player-container"
></div>

<style is:global>


.aplayer .aplayer-body {
    bottom: 1rem;
    background: var(--color-bg-surface) !important;
    border-radius: 0 2px 2px 0 !important;
}

.aplayer .aplayer-info {
    border-top: 1px solid var(--color-bg-dialog) !important;
    border-right: 1px solid var(--color-bg-dialog) !important;
}

.aplayer .aplayer-info .aplayer-music .aplayer-title {
    color: var(--color-text-primary) !important;
}

.aplayer .aplayer-info .aplayer-music .aplayer-author {
    color: var(--color-text-muted) !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time {
    color: var(--color-text-muted) !important;
}

.aplayer .aplayer-icon {
    opacity: 1 !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon path {
    fill: var(--color-text-muted) !important;
}

.aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon:hover path {
    fill: var(--color-accent) !important;
}

.aplayer .aplayer-miniswitcher {
    border-top: 1px solid var(--color-bg-dialog) !important;
    border-right: 1px solid var(--color-bg-dialog) !important;
    background: transparent !important;
}

.aplayer.aplayer-fixed .aplayer-lrc {
    bottom: 2rem;
    text-shadow: 0 0 3px var(--color-bg-surface) !important;
}

.aplayer .aplayer-lrc {
    text-shadow: 0 0 3px var(--color-bg-surface) !important;
}

.aplayer .aplayer-lrc p {
    color: var(--color-accent) !important;
    font-size: 1rem !important;
}
</style>

<script >

import { mountAplayer } from "../utils/aplayer.ts"

document.addEventListener('astro:page-load', async () => {
    let playerContainer = document.querySelector<HTMLDivElement>('.player-container');
    await mountAplayer(playerContainer);
}, false);

</script>

