---
import { SITE_CONFIG } from '../site_config';
import { getRelativePath } from '../utils';

interface Props {
    id?: string;
    video: {
        url: string;
    };
    cacheable?: boolean;

};

const { id: id_, video, cacheable = false } = Astro.props;

const id = id_ ?? import.meta.env.DEV ? 
    `dplayer-dev`
    : `dplayer-${crypto.randomUUID()}`;


---
<link rel="stylesheet" href={getRelativePath("/styles/DPlayer.min.css")}>
<div
    id={id} class="dplayer-container"
    data-video={JSON.stringify(video)}
    data-cacheable={cacheable}
></div>

<style>
    .dplayer-inlined-container {
        background: transparent;
        width: 100%;
    }
</style>


<script>
import { PlayerManager } from "../utils/player_manager.ts";
import DPlayer from "dplayer";
import { getLocaleFromUrl } from "../utils.ts"
import { DEFAULT_LANGUAGE } from "../i18n_config";

const dplayerManager = new PlayerManager(4);
document.addEventListener("astro:page-load", () => {
    dplayerManager.destroy();
    dplayerManager.init(".dplayer-container", (container) => new DPlayer({
            container,
            video: JSON.parse(container.dataset.video ?? "[]"),
            lang: getLocaleFromUrl(window.location.href) ?? DEFAULT_LANGUAGE,
        })
    );
});

</script>
</script>

