---
import { createHash } from "node:crypto";
import { getRelativePath } from "../utils";

interface Props {
    id?: string;
    video: {
        url: string;
        pic?: string;
        thumbnails?: string;
    };
    cacheable?: boolean;

};

const { id: id_, video, cacheable = false } = Astro.props;

const id = id_ ?? import.meta.env.DEV ? 
    `dplayer-${createHash("sha1").update(JSON.stringify(video)).digest("hex")}`
    : `dplayer-${crypto.randomUUID()}`;


---
<link rel="stylesheet" href={ getRelativePath("/styles/DPlayer.min.css") }/>
<div
    id={id} class="dplayer-container"
    data-video={JSON.stringify(video)}
    data-cacheable={cacheable}
>
<div style="display: flex; justify-content: center;"><h1>DPlayer Loading...</h1><div>
</div>

<style>
    .dplayer-container {
        background: transparent;
        width: 100%;
    }
</style>

<script>
import DPlayer from "dplayer";
import { PlayerManager } from "../utils/player_manager.ts";
import { getLocaleFromUrl } from "../utils.ts"
import { DEFAULT_LANGUAGE } from "../i18n_config";

const dplayerManager = new PlayerManager(4);

document.addEventListener("astro:page-load", () => {
    dplayerManager.destroy();
    dplayerManager.init(".dplayer-container", (container, dataset) => new DPlayer({
            container,
            video: JSON.parse(dataset.video ?? "[]"),
            lang: getLocaleFromUrl(window.location.href) ?? DEFAULT_LANGUAGE,
            theme: "var(--color-accent)",
            screenshot: true,
        })
    );
});

</script>
