---
import { getRelativeLocaleUrl } from "astro:i18n";
import I18nKey from "../i18n/i18nKey";
import { DEFAULT_LANGUAGE, SUPPORTED_LANGUAGES, type SupportedLanguages } from "../i18n_config.ts";
import { i18n, lan2I18nKey } from "../i18n/localization";
import { Icon } from "astro-icon/components";
import Dialog from "./Dialog.astro";
import Search from "astro-pagefind/components/Search"
import { SITE_CONFIG } from "../site_config";
import { joinPath } from "../utils";
import APlayer from "./APlayer.astro";

interface MenuBarItem {
    name: I18nKey;
    link: string;
}

interface Props {
    locale?: SupportedLanguages;
    transparent?: "never" | "at-top";
}

const locale = Astro.props.locale ?? DEFAULT_LANGUAGE;
const transparent = Astro.props.transparent ?? "never";

const menu_bar_items: MenuBarItem[] = [
    { name: I18nKey.home_page, link: getRelativeLocaleUrl(locale, "/") },
    { name: I18nKey.archive_page, link: getRelativeLocaleUrl(locale, "/archives") },
    { name: I18nKey.about_page, link: "https://github.com/zlc-dev" },
];

function getRelUrl(): string {
    return Astro.url.pathname.slice(joinPath(SITE_CONFIG.base, locale).length + 2);
}

---
<nav class="menu-bar" id="menu-bar" data-transparent={transparent}>
    <div class="menu-bar-inner">
        <div class="menu-bar-left">
            <div class="menu-bar-site">
                <a href={ getRelativeLocaleUrl(locale, "/")} class="site-name">
                    {i18n(locale, I18nKey.site_name)}
                </a>
            </div>
            <div class="menu-bar-nav-sm">
                <div
                    class="menu-toggle"
                    aria-expanded="false"
                    aria-label="Open menu"
                >
                    <Icon class="icon-bars-3" name="heroicons:bars-3" />
                </div>

                <div class="menu-dropdown">
                    {menu_bar_items.map(item => (
                    <a href={item.link} class="menu-dropdown-item">
                        {i18n(locale, item.name)}
                    </a>
                    ))}
                </div>
            </div>
        </div>

        <div class="menu-bar-center">
            <nav class="menu-bar-nav">
            {menu_bar_items.map(item => (
                <a class="menu-item" href={item.link}>
                    {i18n(locale, item.name)}
                </a>
            ))}
            </nav>
        </div>

        <div class="menu-bar-right">
            <div class="menu-theme-toggle menu-theme-toggle-btn">
                <div class="icon icon-sun">
                    <Icon name="heroicons:sun"/>
                </div>
                <div class="icon icon-moon">
                    <Icon name="heroicons:moon"/>
                </div>
            </div>
            <div class="menu-search-button" >
                <Icon name="heroicons:magnifying-glass"/>
            </div>
            <div class="menu-locale-selector-button" aria-expanded="false">
                <Icon name="heroicons:language"/>
            </div>
            <div class="menu-locale-selector-dropdown">
                <ul>
                {
                    SUPPORTED_LANGUAGES.map(v => (
                    <a href={getRelativeLocaleUrl(v, getRelUrl())} title={i18n(locale, lan2I18nKey(v))} data-astro-reload>
                        <li class:list={{selected: locale == v}}>
                            {i18n(v, lan2I18nKey(v))}
                        </li>
                    </a>
                    ))
                }
                </ul>
            </div>
        </div>
    </div>
</nav>

<Dialog id="search-dialog" >
    <div style="max-height: 80vh; overflow-y: auto; overscroll-behavior: contain;">
        <div style="padding: 0 1rem;">
            <Search
                id="search"
                className="pagefind-ui"
                uiOptions={{ 
                    showImages: false,
                }}
            />
        </div>
    </div>
</Dialog>

<style>
    
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu-bar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 4rem;

    background: var(--color-bg-surface);
    color: var(--color-text-primary);

    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);

    transition: 
        transform 0.25s ease,
        background-color 0.25s ease,
        border-color 0.25s ease,
        box-shadow 0.25s ease;
}

.menu-bar.hidden {
    transform: translateY(-100%);
}

.menu-bar.at-top {
    background: transparent;
    color: var(--color-menu-text);
    border-bottom: none;
}

.menu-bar-inner {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.menu-bar-left,
.menu-bar-right {
    flex: 0 0 30%;
    display: flex;
    align-items: center;
}

.menu-bar-right {
    gap: 1rem;
    justify-content: flex-start;
}

.menu-bar-center {
    flex: 1;
}

.menu-bar-site { 
    flex: 1;
}

.menu-bar-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 3rem;
}


.menu-bar-search-sm { 
    display: none; 
}

.menu-bar-nav-sm { 
    display: none; 
}

.menu-bar-search { 
    display: flex; 
}

.site-name {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.04em;
    text-decoration: none;
    color: inherit;
}

.menu-item {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: 0.95rem;
    letter-spacing: 0.02em;
}

.menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.3rem;
    height: 2px;
    background: currentColor;
    opacity: 0;
    transform: scaleX(0);
    transition: 0.2s ease;
}

.menu-item:hover::after {
    opacity: 1;
    transform: scaleX(1);
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: inherit;
    padding: 0.5rem;
    cursor: pointer;
}

.menu-toggle:hover {
    color: var(--color-accent);
}

.menu-theme-toggle {
    cursor: pointer;
    display: inline-grid;
    place-items: center;
}

.menu-theme-toggle:hover {
    color: var(--color-accent)
}

.menu-theme-toggle .icon {
    font-size: 1.5rem;
    width: 100%;
    grid-area: 1 / 1;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.12s linear;
}

:root[data-theme="light"] .menu-theme-toggle .icon.icon-sun {
    opacity: 1;
}

:root[data-theme="dark"] .menu-theme-toggle .icon.icon-moon {
    opacity: 1;
}

.menu-search-button, .menu-locale-selector-button{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-search-button:hover, .menu-locale-selector-button:hover {
    color: var(--color-accent)
}

.menu-locale-selector-dropdown {
    position: absolute;
    top: 100%;
    margin-top: 0.5rem;
    min-width: 10rem;
    color: var(--color-text-primary);
    background: var(--color-bg-surface);
    border: 1px solid rgba(0,0,0,.12);
    flex-direction: column;
    display: none;
}

.menu-locale-selector-dropdown ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-locale-selector-dropdown ul li {
    padding: 0.75rem 0.75rem;
    cursor: pointer;
}

.menu-locale-selector-dropdown ul li:hover {
    background-color: var(--color-selected);
}

.menu-locale-selector-dropdown ul li.selected {
    color: var(--color-accent);
}


@media (max-aspect-ratio: 3/4) , (max-width: 768px) {
    .menu-bar-site { display: none; }
    .menu-bar-nav { display: none; }

    .menu-bar-nav-sm { display: flex; align-items: center; }
    .menu-bar-search { display: none; }
    .menu-bar-center { display: none; }
    .menu-bar-right { 
        flex-grow: 1;
        margin-right: 1rem;
        justify-content: flex-end; 
    }

    .menu-dropdown {
        position: absolute;
        top: 100%;
        margin-top: 0.5rem;
        min-width: 10rem;
        color: var(--color-text-primary);
        background: var(--color-bg-surface);
        border: 1px solid rgba(0,0,0,.12);
        display: none;
        flex-direction: column;
    }

    .menu-dropdown a {
        padding: 0.75rem 1rem;
        text-decoration: none;
        color: inherit;
    }

    .menu-dropdown a:hover {
        background: var(--color-selected);
    }
}

</style>

<style is:global>
    .pagefind-ui {
        --pagefind-ui-background: var(--color-bg-surface);
        --pagefind-ui-text: var(--color-text-primary);
        --pagefind-ui-border: var(--color-text-primary);
        --pagefind-ui-border-width: 1px;
        --pagefind-ui-border-radius: 0.25rem;
    }
    .pagefind-ui input:focus {
        outline: 2px solid var(--color-accent);
        outline-offset: -1px;
        border-radius: 0.25rem;
    }
</style>

<script>
import { switchTheme, firstSetTheme } from "../theme.ts";

let controller: AbortController = new AbortController();

document.addEventListener("astro:before-preparation", () => {
    controller.abort(); 
    controller = new AbortController(); 
});

document.addEventListener("astro:after-swap", () => { 
    firstSetTheme(); 
});

document.addEventListener("astro:page-load", () => {

    document.querySelector<HTMLButtonElement>(".menu-theme-toggle-btn")?.addEventListener("click", () => {
        switchTheme();
        document.dispatchEvent(new CustomEvent("giscus:theme-update"));
    }, { signal: controller.signal });

    const search_dialog: HTMLElement | null = document.querySelector("#search-dialog");

    search_dialog?.setAttribute("hidden", "");
    search_dialog?.addEventListener("dialog:close", () => {
        search_dialog?.setAttribute("hidden", "");
        document.body.style.overflow = "";
    }, { signal: controller.signal });

    document.querySelector(".menu-search-button")?.addEventListener(
        "click", 
        () => {
            search_dialog?.removeAttribute("hidden");
            document.body.style.overflow = "hidden";
        }, 
        { signal: controller.signal }
    );

    const toggle: HTMLElement | null = document.querySelector(".menu-toggle");
    const dropdown: HTMLElement | null = document.querySelector(".menu-dropdown");

    toggle?.addEventListener("click", () => {
        if (!toggle || !dropdown) return;
        const expanded = toggle.getAttribute("aria-expanded") === "true";
        toggle.setAttribute("aria-expanded", String(!expanded));
        dropdown.style.display = expanded ? "none" : "flex";
    }, { signal: controller.signal });

    document.addEventListener("click", (e) => {
        if (!toggle || !dropdown) return;
        if (!toggle.contains(e.target as Node) && !dropdown.contains(e.target as Node)) {
            toggle.setAttribute("aria-expanded", "false");
            dropdown.style.display = "none";
        }
    }, { signal: controller.signal });


    const language_selector_button: HTMLElement | null = document.querySelector(".menu-locale-selector-button");
    const language_selector_dropdown: HTMLElement | null = document.querySelector(".menu-locale-selector-dropdown");

    language_selector_button?.addEventListener("click", () => {
        if (!language_selector_button || !language_selector_dropdown) return;
        const expanded = language_selector_button.getAttribute("aria-expanded") === "true";
        language_selector_button.setAttribute("aria-expanded", String(!expanded));
        language_selector_dropdown.style.display = expanded ? "none" : "flex";
    }, { signal: controller.signal });

    document.addEventListener("click", (e) => {
        if (!language_selector_button || !language_selector_dropdown) return;
        if (!language_selector_button.contains(e.target as Node) && !language_selector_dropdown.contains(e.target as Node)) {
            language_selector_button.setAttribute("aria-expanded", "false");
            language_selector_dropdown.style.display = "none";
        }
    }, { signal: controller.signal });

    const menu_bar: HTMLElement | null = document.getElementById("menu-bar");

    let lastScrollY = window.scrollY;

    const THRESHOLD = 8;

    window.addEventListener("scroll", () => {
        const currentY = window.scrollY;

        if (Math.abs(currentY - lastScrollY) < THRESHOLD) return;

        if (currentY > lastScrollY && currentY > 64) {
            menu_bar?.classList.add("hidden");
        } else {
            menu_bar?.classList.remove("hidden");
        }

        lastScrollY = currentY;
    }, { signal: controller.signal });

    let ticking = false;

    function update() {
        if(!menu_bar) return;
        const isAtTop = window.scrollY <= THRESHOLD;

        menu_bar.classList.toggle("at-top", isAtTop);

        ticking = false;
    }

    if (menu_bar?.dataset.transparent === "at-top") {
        update();
        window.addEventListener(
            "scroll",
            () => {
                if (!ticking) {
                    requestAnimationFrame(update);
                    ticking = true;
                }
            },
            { passive: true, signal: controller.signal }
        );
    }
});


</script>
