---
interface Props {
    id: string;
    ratio?: number;
};

const { id, ratio = 16 / 9 } = Astro.props;

---
<div style="width: 100%; margin: 2rem 0; display: flex; justify-content: center;">
    <iframe
    src={`https://www.youtube.com/embed/${id}`}
    width="100%"
    frameborder="0"
    style=`border:none; aspect-ratio: ${ratio};`
    allowfullscreen
    ></iframe>
</div>
